{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title> Eliminar Usuario {{object}} </title>
        <script src = "{% static 'buttonScripts.js' %}"></script>
    </head>
    <body>
        <h1> Eliminar Usuario </h1>
        <form method = "post"> {% csrf_token %}
            <p> ¿Esta seguro de que desea eliminar al usuario "{{ object }}"?</p>
            <input type = "submit" value = "Eliminar Usuario">
        </form>
        <button onclick = "redirect(this)"> Cancelar </button>
    </body>
</html>