<!-- Archivo HTML para la vista UPDATE -->
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title> Editar Usuario {{object}} </title>
        <script src = "{% static 'buttonScripts.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!-- Titulo de la Pagina -->
        <h1> Editar Usuario </h1>

        <!-- Metodo POST para ACTUALIZAR el registro -->
        <form method = "post" class = "form"> {% csrf_token %}
            {{ form }}
            <input type = "submit" value = "Guardar Cambios" class = "button edit">
        </form>

        <!-- Boton de Cancelar -->
        <button onclick = "redirect(this)" class = "button"> Cancelar </button>
    </body>
</html>