<!DOCTYPE html>

<html>
    <head>
        <title> Gestor de Usuarios </title>
    </head>
    <body>
        <h1> Gestor de Usuarios </h1>
        <table>
            <!-- ENCABEZADO -->
            <tr>
                <th> Nombre de usuario </th>
                <th> Accion </th>
            </tr>

            {% for user in users %}
                <tr> 
                    <td> {{ user }} </td>
                    <td>
                        <form method = 'GET'> 
                            <button type = "submit" name = "edit"> Editar </button>
                            <button type = "submit" name = "delete"> Eliminar </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        <button name = "new-user"><a href = "new-user"> Insertar Nuevo Usuario </button>
    </body>
</html>