<!-- Archivo HTML para la vista CREATE -->
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title> Nuevo Usuario </title>
        <script src = "{% static 'buttonScripts.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!-- Titulo de la Pagina -->
        <h1> Agregar Nuevo Usuario </h1>

        <!-- Metodo POST para INSERTAR el registro -->
        <form method = "post"> {% csrf_token %}
            {{ form }}
            <input type = "submit" value = "Guardar Usuario" class = "button new-user">
        </form>

        <!-- Boton de Cancelar -->
        <button onclick = "redirect(this)" class = "button"> Cancelar </button>
    </body>
</html>